@import url(https://xyzenix.github.io/XYZenixThemes/DTM-16/dtm-16.css);

:root { /* Configurable options */
	--jumboemojisize: 2rem; /* 2rem - old size; 3rem - new size, but you can set it to anything you want */
	--extra-buttons: none; /* block = ON, none = OFF - show gift, gif and sticker buttons in the chat textbox */
	--unread-bar: flex; /* flex = ON, none = OFF - show the "new unreads" bar in the channel list */
	--qrcode-icon: block; /* block = ON, none = OFF - show or hide the discord logo icon in discord's qr codes (like on login screen) */
}
.theme-dark,
:root {
    --background-primary: #292841;
    --background-secondary: #242338;
    --background-secondary-alt: #3c3a5e;
    --background-tertiary: #1c1b29;
    --background-accent: #413f66;
    --text-link: #9a94c5; !important;
    --channeltextarea-background: #5a5582;
    --text-normal: #fbfbfb; !important;
    --interactive-normal: #c8c8c8;!important;
    --scrollbar-auto-thumb: #596172; !important;
    --spotify-color: #ec4c56 !important;
    --channeltextarea-background: #1d3045;
}
.container-3baos1 {
    background: #252439;
}
.selected-1GqIat {
    background: #232235;
}
.guilds-1SWlCJ .scroller-2TZvBN {
    background-color: #292841;
}
.homeIcon-tEMBK1 {
    background-color: #3e3c6f;
}
.theme-dark .scrollableContainer-2NUZem {
    background: #242338;
    border: solid 2px #3c3a62;
}
.attachButtonInner-PQjIyk svg path {
    fill: #66639c !important;
}
.peopleList-3c4jOR {
    background-color: #2c2a49;
}
.container-1D34oG .actionButton-uPB8Fs {
    background: #292841;
}
.container-1giJp5 {
    background: #242338;
    border-top: solid 1px #464a52;
    border-bottom: none;
}
.container-3baos1>.directionRow-3v3tfG>button {
    border-right: solid 1px #000;
    background-color: #2e2d47 !important;
    border-bottom: solid 1px #000;
}
.searchBar-6Kv8R2 {
    background-color: #292841;
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    background: #242338;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #1f1e30;
}
.activityPanel-28dQGo {
    background: #242338;
}
.headerTop-3C2Zn0 {
    background-color: #23223a;
}
.addInputWrapper-1BOZ3d {
    background-color: #292841;
}
.friendsEmpty-1K9B4k {
    background-color: #242338;
}
.scroller-RmtA4e {
    background-color: #252439;
}
.theme-dark .searchBar-3dMhjb {
    background: #242338 !important;
}
.jumpButton-2F6EMx, .jumpButton-2dvRSC {
    background: #3c3a5e;
}
.header-1TKi98 {
    background: #3c3a5e;
}
.templatesList-2E6rTe {
    background-color: #292841;
}
.container-UC8Ug1 {
    background-color: #2c2a49;
}
.colorHeaderPrimary-26Jzh- {
    color: #c8c8ca;
}
.colorHeaderSecondary-3Sp3Ft {
    color: #c8c8ca;
}
.colorStandard-2KCXvj {
    color: #c8c8ca;
}
.theme-light .footer-2gL1pp {
    background-color: #2c2a49;
    box-shadow: inset 0 1px 0 rgba(81, 81, 81, 0.6);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV {
    background-color: #5a5582;
}
.container-1CE3eW {
    background-color: #5a5582;
}
.formTitle-aeXUoN {
    color: #c8c8ca;
}
.sampleLink-2NLvZg {
    color: #c8c8ca;
}
.input-cIJ7To {
    background-color: #242338;
}
.footer-1kmXd4 {
    background: #26253b;
}
.theme-dark .input-2VB9rf {
    background: #242338 !important;
}
.statusItem-33LqPf {
    background-color: #201f33;
}
.errorState-KkUH_2 {
    background-color: #3c3a5e;
}
.theme-dark {
    --scrollbar-auto-thumb: #3c3a62;
}
.theme-dark .errorState-KkUH_2 {
    color: #c8c8ca;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: #5a5582;
}
.circleIconButton-jET_ig {
    border: dashed 1px #5a5582;
}
.autocompleteRow-2OthDa {
    background-color: #242338;
}
.theme-dark .container-2fRDfG {
    border-color: #3c3a62;
    background: #252439;
}
.colorBrand-2tjs5J {
    color: #5a5582;
}
.layer-3QrUeG[aria-label="USER_SETTINGS"] .contentRegionScroller-26nc1e .toolsContainer-1edPuj, .layer-3QrUeG[aria-label="GUILD_SETTINGS"] .toolsContainer-1edPuj, .layer-3QrUeG[aria-label="CHANNEL_SETTINGS"] .toolsContainer-1edPuj, .layer-3QrUeG[aria-label="RTC_DEBUG"] .toolsContainer-1edPuj {
    background: #2c2b43;
    border-top: solid 1px #3c3a62;
}
.animatorBottom-fS5rNO .item-1tOPte {
    background-color: #201f33;
}
.colorDefault-2K3EoJ {
    color: #c8c8ca;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: #2e2d47;
}
.actionButtons-14eAc_>.grow-q77ONN {
    border: solid 1px #3c3a62;
}
.panels-j1Uci_ .panel-24C3ux .button-14-BFJ {
    background-color: #2e2d47;
    border: solid 1px #3c3a62;

}
.autocomplete-1vrmpx {
    border: solid 2px #3c3a62;
}
.theme-dark .selected-1Tbx07 {
    background-color: #3c3a5e;
}
.theme-dark .autocompleteInner-zh20B_ .autocompleteRow-2OthDa:first-of-type div, .theme-dark .contentTitle-2tG_sM {
    background-color: #292841;
}
.clickable-25tGDB .header-2V-4Sw:hover, .clickable-25tGDB.selected-31Nl7x .header-2V-4Sw {background: #242338}
.clickable-25tGDB .header-2V-4Sw {
    background: #292841;
}
.container-1giJp5>.directionRow-3v3tfG>.flex-1xMQg5 {
    background: #2e2d47;
    border-color: #111;
}
.theme-dark .container-1D34oG .peopleListItem-2nzedh:hover {
    background: #3c3a5e;
}
.menu-3sdvDG:not(#guild-header-popout) .item-1tOPte {
    background-color: #27263e;
}
.container-2Pjhx-.selected-aXhQR6 {border-left: none;background: linear-gradient(to right,#3c3a5e 65%,#242338)!important;
}
.sidebar-2K8pFh .clickable-1JJAn8.container-2Pjhx-:hover, .sidebar-2K8pFh .clickable-1JJAn8.container-2Pjhx-:active {color: #DCDDDE !important;background:linear-gradient(to right,#242338 65%,#3c3a5e)!important;
}
.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n,.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n:hover {box-shadow: inset 2px 0 0 # !important;background: linear-gradient(to right,#242338 65%,#3c3a5e) !important}
